<html>
Is this correct? <br>
 {{sentence}}
<form action="{{url_for('tag_pos')}}">

	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="language" value="{{language}}">
	<input type="hidden" name="date" value="{{date}}">
	<button type="submit">Yes, this sentence is correct
</form>

<form action "{{url_for('input_sentence')}}">
	<input type="hidden" name="userID" value="{{userID}}">
<button type="submit"> No, I want to input a different sentence
</form>

still working on this!
</html>

