<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>group</title>
</head>

{% extends "base.html" %}

<body>

{% block content %}

	<script type="text/javascript">
	var prev= null;
	function wordClick(e){
		var target = e.target;
		console.log(target);
		if (target.value === "active"){
			target.setAttribute("value", "inactive");
			target.style.backgroundColor="white";
		}
		else{
			target.setAttribute("value", "active");
			target.style.backgroundColor="red";
		}
	}
	function submitClick(e){
		var elements = document.querySelectorAll("button")
		var target = e.target;
		for (var i = 0, element; element = elements[i++];) {
			console.log(element);
    	if (element.value === "active"){
    		target.value = target.value.concat(element.id).concat(" ");
		}
		}
	}

	</script>
Select words to create a phrase.

<form name="group" action="{{url_for('tag_phrase_structure')}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
{% set count = 0 %}
{% for word in sentence.split() %}
	<button type = "button" id = "{{count}}" onClick="wordClick(event)">{{word}}</button>
		{% set count = count + 1 %}
	{% endfor %}
<!--- dropdown for type -->
	<br>
	<br>
	What kind of phrase is this?
	<br> <input type="radio" name = "phrase_type" value="S">Sentence
	<br> <input type="radio" name = "phrase_type" value="NP">Noun Phrase 
	<br> <input type="radio" name = "phrase_type" value="VP">Verb Phrase
	<br> <input type="radio" name = "phrase_type" value="PP">Prepositional Phrase
	<br> <input type="radio" name = "phrase_type" value="AP">Adjective Phrase
	<br> <input type="radio" name = "phrase_type" value="CP">Complementizer Phrase
<br>
		<button type="submit" name = "phrase" onClick = "submitClick(event)" value = ""> Submit</button>
 </form> 
 <br>
<form action="{{url_for('tag_subj')}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
	<button type="submit" name= "done">I'm done tagging phrases</button>
</form>
<!--- above redirects to check work-->
<!--- below redirects to next page-->
{% endblock %}

{% block guide %}
	<p> Next, identify the <i  style="color:blue">syntactic constituents</i> in your sentence. Syntactic constituents are also known as <i style="color:blue">phrases</i>.<p>
	<br> <p> Here are some tests for constituency:</p>
	<p style="color:blue">link to Test 1</p> 
	<p style="color:blue">link to Test 2</p>
	<p style="color:blue">link to Test 3</p>
	        
{% endblock %}
</body>
</html>