<html>
<body>
	<script type="text/javascript">
	var prev= null;
	function wordClick(e){
		var target = e.target;
		console.log(target);
		if (target.value === "active"){
			target.setAttribute("value", "inactive");
			target.style.backgroundColor="white";
		}
		else{
			target.setAttribute("value", "active");
			target.style.backgroundColor="red";
		}
	}
	function submitClick(e){
		var elements = document.querySelectorAll("button")
		var target = e.target;
		for (var i = 0, element; element = elements[i++];) {
			console.log(element);
    	if (element.value === "active"){
    		target.value = target.value.concat(element.id).concat(" ");
		}
		}
	}
	function radioClick(e){
		var target = e.target;

        (prev)? console.log(prev.value):null;
        if(this !== prev) {
            prev = this;
        }
        console.log(this.value)

		var complex_types = {NP: {"det", "AP", "N", "PP"}, 
						VP:{"V", "PP", "NP", {"NP", "S", "CP"}, "AP", "PP"},
						 PP:{"P" ["NP" "PP"]}, 
						 AP:{"deg" "A"}
						};

	}
//I  am in the middle of creating a function that shows and hides complex tagging options based on which radio button is tagged. The results are NOT saved to the database correctly. ALSO! the entire database overwrites itself each time I run the program. hm.
}
	</script>

<form name="group" action="{{url_for('type_phrase')}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
{% set count = 0 %}
{% for word in sentence.split() %}
	{% set count = count + 1 %}
	<button type = "button" id = "{{count}}" onClick="wordClick(event)">{{word}}</button>
	{% endfor %}
<!--- dropdown for type -->
	<br>
	<br>
	What kind of phrase is this?
	<input type="radio" name = "phrase_type" value="S">Sentence
	<input type="radio" name = "phrase_type" onClick="radioClick(event)" value="NP">Noun Phrase 
	<input type="radio" name = "phrase_type" onClick="radioClick(event)" value="VP">Verb Phrase
	<input type="radio" name = "phrase_type" onClick="radioClick(event)" value="PP">Prepositional Phrase
	<input type="radio" name = "phrase_type" onClick="radioClick(event)" value="AP">Adjective Phrase
	<input type="radio" name = "phrase_type" value="CP">Complementizer Phrase
<br>
<div>

	</div>
		<button type="submit" name = "phrase" onClick = "submitClick(event)" value = ""> Submit</button>
 </form> 

<!--- above redirects to check work-->
<!--- below redirects to next page-->
</body>
</html>