<html>
{% for word in sentence.split() %}
<form name="{{word}}" action="{{url_for('group.html')}}" method="POST">
<button type >
        </button>

{% endfor %}
<!--- dropdown for type -->
<button type="submit" > Submit
        </button>
        <input type="hidden" name="userID" value="{{userID}}">
        <input type="hidden" name="sentenceID" value="{{sentenceID}}">
        </form> 

<!--- above redirects to check work-->
<!--- below redirects to next page-->
<form name = "All done" action="{{url_for('')}}" method ="GET">
<button type "submit" action>
</form>
</html>