<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>home</title>
</head>

<body>
<!--This is the container and title image header-->
    <div id="container" style="width:1100px">
        <div id="header">
            <img src="LinguistsKitchen.jpg" alt="The Linguist's Kitchen" width="700" height="210">    
        </div>
        
        <div id="welcome" >
        	<p>
<br>The Linguist's Kitchen is a web-based app, designed to help guide students in introductory
linguistics courses in dissecting their own language(s). 

The Linguist's Kitchen provides a workspace where users can type in language samples recorded 
at home or in the community and work through three levels of guideed syntactic analysis.

The first level of analysis focuses on identifying and labeling parts of speech (noun, verb, adjective, 
pronoun, etc.)

The second level focuses on phrase structure (noun phrase, verb phrase, adjectival phrase, etc.)

The third level focuses on grammatical function (grammatical subject, grammatical direct object, etc.)

<br>Once users have tagged a number of sentences with these three levels of info, the app will generate a phrase structure (PS) grammar based on the input.

<p>A PS grammar is a list of transformation rules like: 
<br>S = NP VP
<br>NP = (Det) N
<br>VP = V (NP)
<br>etc.
</p>

			</p>
			
<div id="login" style="text-align:center; font-size:200%">		
<p><a href="{{url_for('login')}}">Log in</a></p>
</div>
 
        </div>
    </div> 
	
</body>
</html>