<html>
	<form action="{{url_for ('confirm_sentence')}}">

Please enter the sentence:<br> 
	<input type="text" name="sentence"> <br>
	What language is this sentence? <br>
	<input type="radio" name="language" value="E">English <br>
	<input type="radio" name="language" value="S">Spanish <br>
	When was this sample collected? Please enter the date in YYYYMMDD format <br>
	<input type="text" name="date"> 
	<input type="hidden" name="userID" value="{{userID}}">
	<br>
<!-- 	Have you previously input other sentences from this same recording session?
<input type="radio" name="continued_session" value="yes">Yes<br>
<input type="radio" name="continued_session" value="no">No -->

	<button type="submit"> OK
</html>
