<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>TLK login</title>
</head>

<body>
<!--This is the container and title image header-->
    <div id="container" style="width:1100px">
        <div id="header" style="background-color:#FFF;">
            <img src="LinguistsKitchen.jpg" alt="The Linguist's Kitchen" width="700" height="210">    
        </div>
    </div> 
	<form name="nameinput" action="{{url_for('show_sentences', username=username, password=password)}}">
	Please enter your user name and password: 
	<input type="text" name="username"> <input type="text" name="password">
	<br>
	<button type="submit">OK
</form>
</body>
</html>