<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>login</title>
	<style>
        #header {
        	background-color:#FFF;
        		}
        		
        #menu	{
        	background-color:#FFF;
        	height:600px;
        	width:200px;
        	float:left;
        	text-align:left;
        	padding-left:20px;
        		}
        		
        #footer	{
        	background-color:#FFF;
        	clear:both;
        	text-align:center;
        		}
    </style>
</head>

<body>
<!--This is the container and title image header-->
    <div id="container" style="width:1100px">
        <div id="header">
            <img src="LinguistsKitchen.jpg" alt="The Linguist's Kitchen" width="700" height="210">    
    	</div> 

<!--this is the left menu box-->
    <div id="menu">
        <h3>Menu</h3>
        <p><a href="/home">Home</a></p>
        <p><a href="/help">Help</a></p>
    </div> 
            
<!--This is the workspace box-->
    <div> 
    <form name="nameinput" action="{{url_for('show_sentences', username=username, password=password)}}">
	Please enter your email: <br>
	<input type="text" name="username"> 
	<p>Password: <br>
	<input type="text" name="password">
	</p>
	<br>
	<button type="submit">OK
	</form>
    </div>
            
<!--This is the footer-->
	<div id="footer">
        The Linguist's Kitchen
    </div>
	
    </div>
</body>
</html>