<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>show_sentences</title>
</head>

<body>

	<div id="container" style="width:1100px">
        <div id="header" style="background-color:#FFF;">
            <img src="LinguistsKitchen.jpg" alt="The Linguist's Kitchen" width="700" height="210">    
        </div>
	</div>
{% if sentences!=[] %}
Click the sentence you want to work on!

{% else %}
Looks like you don't have any sentences input yet!
{% endif %}
{% for sentence in sentences %}

	<form name="{{sentence['sentence']}}" action="{{url_for('tag_pos')}}" method="GET">
        <button type="submit">{{sentence['sentence']}}
        </button>
        <input type="hidden" name="userID" value="{{userID}}">
        <input type="hidden" name="sentence" value="{{sentence['sentence']}}">
        <input type="hidden" name="language" value="{{sentence['language']}}">
        <input type="hidden" name="date" value="{{sentence['collection_date']}}">

	</form> 
{% endfor %}
	<form name="NewSentence" action="{{url_for('input_sentence')}}">
 		<button type="submit">I want to input a new sentence
 		 	<input type="hidden" name="userID" value="{{userID}}">
	</form>
</body>
</html>