<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>signup</title>
</head>

<body>
<!--This is the container and title image header-->
    <div id="container" style="width:1100px">
        <div id="header" style="background-color:#FFF;">
            <img src="LinguistsKitchen.jpg" alt="The Linguist's Kitchen" width="700" height="210">    
        </div>
    </div> 
	Looks like you haven't used The Linguist's Kitchen before!
	Do you want to sign up?
	<!--!   best case send them an email if they forgot their password -->
	<form action="{{url_for('signup', username=username, password=password) }}" method="POST">
	<input type="text" name="username" value="{{username}}">email <br>
	<input type="text" name="password" value="{{password}}">password <br>
	<input type="submit" name="submit" value="Sign me up!">
	</form>
</body>
</html>

<html>

</html>