<html>
<script>
window.onload = function () {
var tag_DO=document.getElementById("tag_DO");
var tag_IO=document.getElementById("tag_IO");
}

	function showTagDO(){
		tag_DO.style.display="block";
	}
	function hideTagObj(){
		tag_DO.style.display="None";
		tag_IO.style.display="None";
	}
	function showTagIO(){
		tag_DO.style.display="None"
		tag_IO.style.display="block";
	}
	function showTagDOIO(){
		tag_DO.style.display="block";
		tag_IO.style.display="block";
	}

	var prev= null;
	function changeColor(e){
		var target = e.target;
		console.log(target);
		if (target.value === "active"){
			target.setAttribute("value", "inactive");
			target.style.backgroundColor="white";
		}
		else{
			target.setAttribute("value", "active");
			target.style.backgroundColor="red";
		}
	}
	function submitClick(e){
		var elements = document.querySelectorAll("button")
		var target = e.target;
		for (var i = 0, element; element = elements[i++];) {
			console.log(element);
    	if (element.value === "active"){
    		target.value = target.value.concat(element.id).concat(" ");
		}
		target.value.concat("_")
		}
	}
</script>
<form action="{{url_for('confirm_obj')}}">
Does the sentence "{{sentence}}" have an object?
<input type="radio" name="obj" value="DO" onClick="showTagDO()">Yes, just a direct object</input>
<input type="radio" name="obj" value="IO" onClick="showTagIO()">Yes, just an indirect object</input>
<input type="radio" name="obj" value="DOIO" onClick="showTagDOIO()">Yes, both a direct and indirect object</input>
<input type="radio" name="obj" value="no" onClick="hideTagObj()">No</input>

<div id="tag_DO" style="display:none">
Which word(s) constitute(s) the direct object?
<div style="display:none">
<button type="button" id="DO" style="outline: 0;" value="active">hiding!</button>
</div>
{% for i in range(wordIDs|count) %}
<button type="button" id="{{wordIDs[i]}}" onClick="changeColor(event)">{{words[i]}}</button>
{% endfor %}
<br>
</div>

<div id="tag_IO" style="display:none">
Which word(s) constitute(s) the indirect object?
<div style="display:none">
<button type="button" id="IO" style="outline: 0;" value="active">also hiding!</button>
</div>
{% for i in range(wordIDs|count) %}
<button type="button" id="{{wordIDs[i]}}" onClick="changeColor(event)">{{words[i]}}</button>
{% endfor %}
</div>

<br>
<input type="hidden" name="sentence" value="{{sentence}}">
<input type="hidden" name="wordIDString" value="{{wordIDString}}">

<button type="submit" name="object" onClick="submitClick(event)" value="_">submit</button>
</form>
</html>