<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>tag phrases</title>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>
<!--This is the container and title image header-->
<div id="container" style="width:1100px">
        <div id="header" style="background-color:#FFF;">
            <img src="LinguistsKitchen.jpg" alt="The Linguist's Kitchen" width="350" height="105">    
        </div>
        
<!--this is the left menu box-->
    <div id="menu" style="background-color:#FFF; height:600px;width:200px;float:left; text-align:left; padding-left:20px; ">
        <h3>Menu</h3>
        <p><a href="http://www...">Home</a></p>
        <p><a href="http://www...">Glossary</a></p>
        <p><a href="http://www...">Workflow</a></p>
        <p><a href="http://www.eva.mpg.de/lingua/resources/glossing-rules.php">Leipzig Glossing 
            <br>Conventions</a></p>
        <p><a href="http://www...">Help</a></p>
    </div> 
           
            
<!--This is the workspace box-->
    <div id="content" style="background-color:#FFF; height:600px;width:650px;float:left;">
        <h2>Step 3</h2>
        <h3>Please identify each syntactic category (phrase) in your sentence:</h3>
        <p>show the sentence entered in enter_sent.html</p>
    	<div> 
        	<form name="phrase_tag" action="{{url_for('phrase_confirm', phrases=phrases)}}">
			{% for phrase in phrases %}
			{{phrase}}
				<select name="{{phrase}}" form="phrase_tag">
  					<option value="AP">AP</option>
  					<option value="CP">CP</option>
  					<option value="NP">NP</option>
  					<option value="PP">PP</option>
  					<option value="S">S</option>
  					<option value="VP">VP</option>
  					<option value="WhP">WhP</option>
  					
				</select>
				<br>
				{% endfor %}
					<input type="submit" value="Check my work">
			</form> 
    	</div>
    </div>
            
<!--This is the footer-->
	<div id="footer" style="background-color:#FFF;clear:both; text-align:center;">
        The Linguist's Kitchen
    </div>
</div>

</body>
</html>

<html>
