<html>

<head>
	Please select the part of speech for each word in the sentence.
</head>
<body>
<form name="pos" action="{{url_for('pos_confirm', words=words)}}">
	<fieldset>
{% for word in words %}
{{word}}
<select name="{{word}}" form="pos">
  <option value="noun">Noun</option>
  <option value="verb">Verb</option>
  <option value="article">Article</option>
  <option value="adjective">Adjective</option>
</select>
<br>
{% endfor %}
<input type="submit" value="submit"></fieldset>
</form>
</body>
</html>