<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>tag words</title>
</head>

{% extends "base.html" %}

<body>

{% block content %}
               
<!--This is the workspace box-->
<!--    <div id="workspace"> -->
        <h2>Step 2</h2>
        {% if error != None %}
        <h4 style="color:red"> Please make sure you select a part of speech for each word! </h4>
        {% endif %}
        <h3>Please identify the part of speech for each word in your sentence:</h3>
        <p>{{sentence}}</p>
    	<div> 
		<form name="pos" action="{{url_for('pos_confirm', sentence=sentence)}}" method="GET">
      {% set count = 0 %}
		{% for word in sentence.split() %}
		{{word}}

      				<br> <input type="radio" name="{{count}}" value="adjective">Adjective 
					<br> <input type="radio" name="{{count}}" value="adverb">Adverb 
  					<br> <input type="radio" name="{{count}}"  value="conjunction">Conjunction
  					<br> <input type="radio" name="{{count}}"  value="complementizer">Complementizer 
  					<br> <input type="radio" name="{{count}}"  value="determiner">Determiner
<!--  				<br> <input type="radio" name="{{count}}"  value="determiner-demonstrative">Determiner-demonstrative
  					<br> <input type="radio" name="{{count}}"  value="determiner-numeral">Determiner-numeral
  					<br> <input type="radio" name="{{count}}"  value="determiner-possessive">Determiner-possessive
  					<br> <input type="radio" name="{{count}}"  value="determiner-quantificational">Determiner-quantificational
-->  					
  					<br> <input type="radio" name="{{count}}"  value="noun">Noun
  					<br> <input type="radio" name="{{count}}"  value="preposition">Preposition
  					<br> <input type="radio" name="{{count}}"  value="pronoun">Pronoun
  					<br> <input type="radio" name="{{count}}"  value="verb-auxiliary">Verb-auxiliary
  					<br> <input type="radio" name="{{count}}"  value="verb-copula">Verb-copula
  					<br> <input type="radio" name="{{count}}"  value="verb-ditransitive">Verb-ditransitive
  					<br> <input type="radio" name="{{count}}"  value="verb-intransitive">Verb-intransitive
  					<br> <input type="radio" name="{{count}}"  value="verb-transitive">Verb-transitive
  					<br> <input type="radio" name="{{count}}"  value="verb-sentential_complement">Verb-sentential complement

				<br>
        {% set count = count+1 %}
				{% endfor %}
				<input type="hidden" name= "sentenceID" value ="{{sentenceID}}">
				<input type="hidden" name= "userID" value ="{{userID}}">
        		<input type="hidden" name= "sentence" value= "{{sentence}}">
        		<input type= "hidden" name="language" value= "{{language}}">
				<input type="submit" value="Check my work">
			</form> 
    	</div>
<!--    </div> -->
{% endblock %}

<!--content for the guidebox-->
{% block guide %}
	<p> First, label each word in your sentence with the appropriate <i  style="color:blue">part of speech</i>.<p>
	<br> <p> For additional help, please check these resources:</p>
	 <a href="http://partofspeech.org/">partofspeech.org</a> 
	        
{% endblock %}

</body>
</html>
