<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>confirm_sentence</title>
</head>

{% extends "base.html" %}

<body>

{% block content %}

Is this correct? <br>
 {{sentence}}
 <br>
 date: {{date}}
 <br>
 language: {{language}}

 <div>
<form action="{{url_for('user', username=g.user.username)}}">

	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="language" value="{{language}}">
	<input type="hidden" name="date" value="{{date}}">
	<button type="submit">Yes, this sentence is correct </button>
</form>
</div>

<div>
<form action ="{{url_for('input_sentence')}}">

	<input type="hidden" name="userID" value="{{userID}}">
	<button type="submit" name="2"> No, I want to input a different sentence
	</button>
</form>
</div>

{% endblock %}

</body>
</html>
