<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Confirm phrase: {{phrase}}</title>
	<style>
	sent {
	font-family: "arial", Times, sans-serif;
    font-size: 20px;
	}
	</style>
</head>

{% extends "base.html" %}

<body>

{% block content %}
<!-- <p style="font-size:30px;">{{sentence}}</p>

<p>You said that <b>"{{phrase}}"</b> is a(n) <b>{{phrase_type}}</b>.</p> -->
<p style="font-size:30px;">Added: <b>{{phrase_type}} - {{phrase}}</b>

<!-- 
<table class="center">
<tr>

<td style="padding-right:5px">
	<form name="phrase_problem" action="{{url_for('group', userID=userID, sentenceID=sentenceID)}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
	<input type="hidden" name="firstTime" value="False">
	<br><button type="submit" style="font-size:16px;height:26px; background-color:red">Whoops! Go back</button>
	</form>
</td> -->

<!-- <td style="padding-left:5px"> -->
<form name="all_ok" action="{{url_for('put_phrase_in_database')}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
	<input type="hidden" name="phrase" value="{{phrase}}">
	<input type="hidden" name="phrase_type" value="{{phrase_type}}">
	<input type="hidden" name="phrase_structure" value="{{phrase_structure}}">
	<input type="hidden" name="words_in_phrase" value="{{words_in_phrase}}">
<!-- 	<br><button type="submit" style="font-size:16px;height:26px; background-color:lightgreen">Next</button> -->
	<br><button type="submitg" id="submitg">Next</button>
	</form>
<!-- </td>

</tr>
</table> -->
{% endblock %}

{% block guide %}
	<h2>Identify the parts of the phrase</h2>
	<p align="left"> <b>Step 1:</b> Click on the elements that are contained in your phrase
	<br><br><b>Step 2:</b> Either click "submit" to check your work or click "I made a mistake! Go back." if you need to edit this phrase

	<br><br>Here are some tests you can use to determine if a group of words forms a constituent:</p>
	 <a href="http://www.ling.upenn.edu/~beatrice/syntax-textbook/ch2.html#tests" style="font-size:24px" target="helpbox_iframe">Substitution</a> 
	 <br><br>
	 <a href="http://www.ling.upenn.edu/~beatrice/syntax-textbook/ch2.html#movement" style="font-size:24px" target="helpbox_iframe">Movement</a>
	 <br><br>
	 <a href="http://www.ling.upenn.edu/~beatrice/syntax-textbook/ch2.html#questions" style="font-size:24px" target="helpbox_iframe">Question answer</a>
	 <br><br>
	 <a href="http://www.ling.upenn.edu/~beatrice/syntax-textbook/ch2.html#it-cleft" style="font-size:24px" target="helpbox_iframe">Clefting</a>
	        
{% endblock %}

{% block helpbox %}
<h2 style="align:center;">How to identify syntactic phrases</h2>
<iframe src="https://en.wikipedia.org/wiki/Constituent_%28linguistics%29" style="border:none;" width="100%" height="80%">
</iframe>
{% endblock %}

</body>
</html>