<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>confirm_phrase</title>
</head>

{% extends "base.html" %}

<body>

{% block content %}
<p>
You said that phrase "{{phrase}}" was a {{phrase_type}}, and that it had the following structure: <br><br>
{{phrase_structure}}
<br><br>
Is this correct?</p>
<form name="all_ok" action="{{url_for('put_phrase_in_database')}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
	<input type="hidden" name="phrase" value="{{phrase}}">
	<input type="hidden" name="phrase_type" value="{{phrase_type}}">
	<input type="hidden" name="phrase_structure" value="{{phrase_structure}}">
	<input type="hidden" name="word_positions_in_phrase" value="{{word_positions_in_phrase}}">
	<br><button type="submit" name="submit">Yes</button>
	</form>

	<form name="structure_problem" action="{{url_for('tag_phrase_structure')}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="phrase" value="{{phrase}}">
	<input type="hidden" name="phrase_type" value="{{phrase_type}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
	<input type="hidden" name="redo" value="{{True}}">
	<input type="hidden" name="word_positions_in_phrase" value="{{word_positions_in_phrase}}">
	<br><button type="submit" name="submit"> No. Change Structure</button>
	</form>

	<form name="phrase_problem" action="{{url_for('group')}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
	<input type="hidden" name="firstTime" value="False">
	<br><button type="submit" name="submit">No. Make new phrase</button>
	</form>
	
{% endblock %}

{% block guide %}
 <h2>Check your work!</h2>
	<p>Here are some tests you can use to determine if a group of words forms a constituent:</p>
	 <a href="http://www.ling.upenn.edu/~beatrice/syntax-textbook/ch2.html#tests" style="font-size:24px">Substitution</a> 
	 <br><br>
	 <a href="http://www.ling.upenn.edu/~beatrice/syntax-textbook/ch2.html#movement" style="font-size:24px">Movement</a>
	 <br><br>
	 <a href="http://www.ling.upenn.edu/~beatrice/syntax-textbook/ch2.html#questions" style="font-size:24px">Question answer</a>
	 <br><br>
	 <a href="http://www.ling.upenn.edu/~beatrice/syntax-textbook/ch2.html#it-cleft" style="font-size:24px">Clefting</a>
{% endblock %}	
</body>
</html>