<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>input_sentence</title>
</head>

{% extends "base.html" %}

<body>

{% block content %}
<!-- <h1>Step 1: Enter a sentence</h1> -->

	<form action="{{url_for ('confirm_sentence')}}">

	<p>Please enter a sentence:<br> 
	<input type="text" name="sentence" size=40> <br><br>
	What language is this sentence? <br>
	<input type="text" name="language" size=25><br><br>
	What kind of sentence is this? <br>
	<select name="sentence_type">
		<option value="declarative">declarative</option>
		<option value="interrogative">interrogative</option>
		<option value="imperative">imperative</option>
    </select> <br><br>
	What does this sentence mean? (say it in other words)<br>
	<input type="text" name="paraphrase" size=40><br><br>
	When was this sentence collected? <br>
	(Please enter the date:)<br>
	<input type="text" name="date" size=15><br><br>

	<input type="hidden" name="userID" value="{{userID}}">
	</p>
<!-- 	Have you previously input other sentences from this same recording session?
<input type="radio" name="continued_session" value="yes">Yes<br>
<input type="radio" name="continued_session" value="no">No -->

	<button type="submit"> Continue
	
{% endblock %}

{% block guide %}
	<h2>Start here!</h2>
	<p align="left"> 
		<b>Step 1:</b> <br>Enter a sentence that you would like to analyze. </br><br>
		<b>Step 2:</b> <br>Enter the language that this sentence belongs to.</br><br>
		<b>Step 3:</b> <br>Paraphrase the sentence in 'standard' English.</br><br>
		<b>Step 4:</b> <br>Enter the date when this sentence was collected.</br><br>
	<p>        
{% endblock %}

</body>
</html>
