<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>input_sentence</title>
	<style>
		table, th, td, tr {
			/*border: 1px solid black; */
			padding: 5px;
			font-size: 18px;
			font-weight: normal;
			font-family: arial;
		}
	</style>
</head>

{% extends "base.html" %}

<body>

{% block content %}
<!-- <h1>Step 1: Enter a sentence</h1> -->

	<form action="{{url_for ('confirm_sentence')}}">

	<p>Please enter a sentence:<br>
	(Enter multi-word proper nouns without spaces - for example, enter "New York" as "NewYork")<br>
	<input type="text" name="sentence" size=40> <br><br>
	What language is this sentence? <br>
	<input type="text" name="language" size=25><br><br>
	What kind of sentence is this?<br>
	<input type="radio" name="sentence_type" value="declarative">declarative
	<input type="radio" name="sentence_type" value="interrogative">interrogative
	<input type="radio" name="sentence_type" value="imperative">imperative
    <br><br>
	What does this sentence mean? (say it in other words)<br>
	<input type="text" name="paraphrase" size=40><br><br>
	When was this sentence collected? <br>
	(Please enter the date in MM/DD/YYYY format:)<br>
	<input type="text" name="date" size=15><br><br>

	<input type="hidden" name="userID" value="{{userID}}">
	</p>
<!-- 	Have you previously input other sentences from this same recording session?
<input type="radio" name="continued_session" value="yes">Yes<br>
<input type="radio" name="continued_session" value="no">No -->

	<button type="submit"> Continue
	
{% endblock %}

{% block guide %}
	<h2>Start here!</h2>
	<p align="left"> 
		<b>Step 1:</b> <br>Enter a sentence that you would like to analyze. </br><br>
		<b>Step 2:</b> <br>Enter the language that this sentence belongs to.</br><br>
		<b>Step 3:</b> <br>Paraphrase the sentence in 'standard' English.</br><br>
		<b>Step 4:</b> <br>Enter the date when this sentence was collected.</br><br>
	<p>        
{% endblock %}

</body>
</html>
