<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Confirm POS</title>
	<style>
		table, th, td, tr {
			/*border: 1px solid black; */
			padding: 5px;
			font-size: 24px;
			font-weight: normal;
			font-family: arial;
		}
	</style>
</head>

{% extends "base.html" %}

<body>

{% block content %}
<h2>Are these labels correct?</h2>

{% set words = sentence.split() %}
{% set pos_array = pos.split() %}

<table class="center">
<tr>
{% for i in range(words|length) %}
<th> {{words[i]}}</th>
{% endfor %}
</tr>

<tr>
{% for i in range(words|length) %}
<th>|</th>
{% endfor %}
</tr>

<tr>
{% for i in range(words|length) %}
<th> {{pos_array[i]}}</th>
{% endfor %}
</tr>
</table>

<br>
<form action ="{{url_for('pos_to_db')}}">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
	<input type="hidden" name="pos" value="{{pos}}">
	<input type="hidden" name="language" value="{{language}}">
	<button type ="submit" name= "Yes" style="background-color:lightgreen;">Yes! Go to next step
	</button>
</form>

<form action ="{{url_for('tag_pos')}}">
	<input type="hidden" name="error" value="1">
	<input type="hidden" name="userID" value="{{userID}}">
	<input type="hidden" name="sentence" value="{{sentence}}">
	<input type="hidden" name="sentenceID" value="{{sentenceID}}">
	<input type="hidden" name="language" value="{{language}}">
	<br>
	<button type ="submit" name= "No" style="background-color:red;">No! Go back
	</button>
</form>

{% endblock %}

<!--content for the guidebox-->
{% block guide %}
	  <h2>Check your work!</h2>
<!-- 	<p> For help in identifying parts of speech, please check these resources:</p>
	 <a href="http://partofspeech.org/" style="font-size:24px">partofspeech.org</a>  -->
	        
{% endblock %}

{% block helpbox %}
<h2 style="align:center;">How to identify parts of speech</h2>
<iframe src="http://partofspeech.org/" style="border:none;" width="100%" height="80%">
</iframe>
{% endblock %}

</body>
</html>

