<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Sentence Analysis</title>
</head>
<!-- extend base layout -->
{% extends "base.html" %}

<body>
{% block content %}

{% if sentences!=[] %}

	
{{sentence}}<br>


{% endif %}

</p> 

{% endblock %}

{% block guide %}
	<h2 align="left">This is your analysis for the sentence: </h2>
	<p  align="left" style="font-size:16px">hardcoded test sentence</p>
	<p align="left">Language: language</p>
	<p align="left">Sentence type: sentence type</p>
	<p align="left">English gloss: gloss</p>
	<p align="left">Notes: notes</p>
	<form name="analysis" action="{{url_for('user', username=username)}}" method="GET">
        <button type="submit" style="font-size:16px;height:26px">See all sentences
        </button>
        <input type="hidden" name="userID" value="{{userID}}">

	</form> 
{% endblock %}

</body>
</html>