<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Identify parts of speech</title>
    <style>
        table, th, td, tr {
            /*border: 1px solid black; */
            padding: 5px;
            font-size: 30px;
            font-weight: normal;
            font-family: arial;
        }
    </style>
</head>

{% extends "base.html" %}

<body>

{% block instruction %}
    <h1>Identify the <a href="https://en.wikipedia.org/wiki/Part_of_speech" target="resources">part of speech</a> for each word.</h1>
{% endblock %}

{% block content %}
          
    {% if error != None %}
    <h4 style="color:red"> Please make sure you select a part of speech for each word!</h4>
    {% endif %}

	<form name="pos" action="{{url_for('pos_to_db')}}" method="GET">
   
        <table class="center">
            <tr>
            	{% for word in sentence.split() %}
            	   <th> {{word}} </th>
                {% endfor %}
            </tr>

            {% set count = 0 %}
            <tr>
                {% for word in sentence.split() %}
                    <th>
                      <select name="{{count}}" style="width:130px; font-size:16px;height:26px;">
                        <option value="adjective">adjective</option>
                        <option value="adverb">adverb</option>
                        <option value="conjunction">conjunction</option>
                        <option value="complementizer">complementizer</option>
                        <option value="determiner">determiner</option>
                        <option value="interjection">interjection</option>
                        <option value="noun">noun</option>
                        <option value="preposition">preposition</option>
                        <option value="pronoun">pronoun</option>
                        <option value="verb">verb</option>
                        <!-- <option value="verb-auxiliary">verb-auxiliary</option> -->
                      </select>
                			
                    {% set count = count+1 %}
                {% endfor %}
                    </th>
            </tr>
        </table>
    			
        <input type="hidden" name= "sentenceID" value ="{{sentenceID}}">
    	<input type="hidden" name= "userID" value ="{{userID}}">
        <input type="hidden" name= "sentence" value= "{{sentence}}">
        <input type= "hidden" name="language" value= "{{language}}">
    	<br>
        <!-- <input type="submitg" id="submitg" value="Next" style="background-color: #66ff66;"> -->
        <button type="submitg" id="submitg">Next</button>


	</form> 

{% endblock %}

<!--content for the guidebox-->
{% block guide %}
    <h2>Guide</h2>
	<p align="left"> <b>Step 1:</b> Identify the <a href="https://en.wikipedia.org/wiki/Part_of_speech" target="resources">part of speech</a> for each word in your sentence.
    <br>
    <br> 
    <b>Tip: </b>Look for help in the box on the right.

    <br><br>Click "Next" to go to the next step.
	<!-- <br><br> For help in identifying parts of speech, please check these resources:</p>
	 <a href="http://partofspeech.org/" style="font-size:24px">partofspeech.org</a>  -->
	        
{% endblock %}

{% block helpbox %}
<h2 style="align:center;">Parts of speech</h2>
<iframe name="resources" src="https://en.wikipedia.org/wiki/Part_of_speech" style="border:none;" width="100%" height="85%">
</iframe>
{% endblock %}

</body>
</html>
