<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>tag subject</title>
</head>

{% extends "base.html" %}

<body>

{% block content %}
          
<!--This is the workspace box-->
<!--    <div id="workspace"> -->
        {% if error != None %}
        <h4 style="color:red"> Please make sure you select the grammatical subject in your sentence! </h4>
        {% endif %}

	<script type="text/javascript">
	var prev= null;
	function changeColor(e){
		var target = e.target;
		console.log(target);
		if (target.value === "active"){
			target.setAttribute("value", "inactive");
			target.style.backgroundColor="white";
		}
		else{
			target.setAttribute("value", "active");
			target.style.backgroundColor="red";
		}
	}
	function submitClick(e){
		var elements = document.querySelectorAll("button")
		var target = e.target;
		for (var i = 0, element; element = elements[i++];) {
			console.log(element);
    	if (element.value === "active"){
    		target.value = target.value.concat(element.id).concat(" ");
		}
		}
	}

	{% for element in phrase_structure_options %}
	{% if element[1] == "necessary" %}
	var button=document.getElementbyID("{{element[0]}}");
	button.style.background='red';
	{% endif %}
	{% endfor %}
	</script>

<form action="{{url_for('confirm_subj')}}">

{% for i in range(phrases|count) %}
<button type="button" id="{{phrases[i]}}" onClick="changeColor(event)">{{phrases[i]}}</button></br></br>
{% endfor %}
<br>
<input type="hidden" name="sentence" value="{{sentence}}">
<input type="hidden" name="wordIDString" value="{{wordIDString}}">

<button type="submit" name="subject" onClick="submitClick(event)" value="">submit</button>
</form>

{% endblock %}

<!--content for the guidebox-->
{% block guide %}
    <h2>Identify the grammatical subject for your sentence</h2>
	<p align="left"> <b>Step 1:</b> Click the phrase that's the <i  style="color:blue">grammatical subject</i> for your sentence.
    <br><br> <b>Step 2:</b> Click the "check my work" button
	<br><br> For information on grammatical functions, please check these resources:</p>
	 <a href="http://www.englicious.org/lesson/grammatical-functions-clause" style="font-size:24px">englicious.org</a> 
	        
{% endblock %}

</body>
</html>
