<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>tag words</title>
</head>

{% extends "base.html" %}

<body>

{% block content %}
          
<!--This is the workspace box-->
<!--    <div id="workspace"> -->
        {% if error != None %}
        <h4 style="color:red"> Please make sure you select a part of speech for each word! </h4>
        {% endif %}
        <p><font size=6> {{ sentence }} </font></p>
        <div>
		<form name="pos" action="{{url_for('pos_confirm', sentence=sentence)}}" method="GET">
      {% set count = 0 %}
		{% for word in sentence.split() %}
		<p><font size=4> {{word}} </font>
      <select name="{{count}}">
        <option value="adjective">adjective</option>
        <option value="adverb">adverb</option>
        <option value="conjunction">conjunction</option>
        <option value="complementizer">complementizer</option>
        <option value="determiner">determiner</option>
        <option value="noun">noun</option>
        <option value="preposition">preposition</option>
        <option value="pronoun">pronoun</option>
        <option value="verb">verb</option>
        <option value="verb-auxiliary">verb-auxiliary</option>
      </select>
      </p>
				
        {% set count = count+1 %}
				{% endfor %}
				
        <input type="hidden" name= "sentenceID" value ="{{sentenceID}}">
		<input type="hidden" name= "userID" value ="{{userID}}">
        <input type="hidden" name= "sentence" value= "{{sentence}}">
        <input type= "hidden" name="language" value= "{{language}}">
				<br>
        <input type="submit" value="Check my work">
			</form> 
    	</div>
<!--    </div> -->
{% endblock %}

<!--content for the guidebox-->
{% block guide %}
    <h2>Identify the part of speech for each word</h2>
	<p align="left"> <b>Step 1:</b> Label each word in your sentence with the appropriate <i  style="color:blue">part of speech</i>.
    <br><br> <b>Step 2:</b> Click the "check my work" button
	<br><br> For help in identifying parts of speech, please check these resources:</p>
	 <a href="http://partofspeech.org/" style="font-size:24px">partofspeech.org</a> 
	        
{% endblock %}

</body>
</html>
