<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>tag_subject</title>
</head>

{% extends "base.html" %}

<body>

{% block content %}

<script type="text/javascript">
	var prev= null;
	function changeColor(e){
		var target = e.target;
		console.log(target);
		if (target.value === "active"){
			target.setAttribute("value", "inactive");
			target.style.backgroundColor="white";
		}
		else{
			target.setAttribute("value", "active");
			target.style.backgroundColor="orange";
		}
	}
	function submitClick(e){
		var elements = document.querySelectorAll("button")
		var target = e.target;
		for (var i = 0, element; element = elements[i++];) {
			console.log(element);
    	if (element.value === "active"){
    		target.value = target.value.concat(element.id).concat(" ");
		}
		}
	}

	{% for element in phrase_structure_options %}
	console.log("{{element}}")
	console.log("{{element[0]}}")
	console.log("{{element[1]}}")
	{% if element[1] == "necessary" %}
	var button=document.forms.getElementById("{{element[0]}}");
	
	console.log(button)
	console.log("hi")
	console.log("{{element[0]}}")

	button.style.background='orange';
	{% endif %}
	{% endfor %}
	</script>


<!--This is the workspace box-->
        <h2>Which phrase from the last step is the grammatical subject?</h2>
        {% if error != None %}
        <h4 style="color:red"> Please make sure you select the grammatical subject in your sentence! </h4>
        {% endif %}

<form action="{{url_for('confirm_subj')}}">

{% for i in range(phrases|count) %}
<button type="button" id="{{phrases[i]}}" onClick="changeColor(event)" style="font-size:16px;height:26px">{{phrases[i][1]}}</button></br></br>

{% endfor %}
<input type="hidden" name="sentence" value="{{sentence}}">
<input type="hidden" name="sentenceID" value="{{sentenceID}}">
<input type="hidden" name="userID" value="{{userID}}">

<br>
<button type="submit" name="subject" onClick="submitClick(event)" value="">Submit</button>

</form>
{% endblock %}


<!--content for the guidebox-->
{% block guide %}

	<p style="font-size:100%">
    Now, it's time to identify the <i  style="color:blue">grammatical subject</i> for your sentence.
	
	<br><br> Not sure what a "grammatical subject" is? Check these resources:</p>
	 <a href="http://www.englicious.org/lesson/grammatical-functions-clause" style="font-size:24px">englicious.org</a> 
	        
{% endblock %}

</body>
</html>
