<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{user}}'s TLK Homepage</title>
	<style>
	td {
	font-family: "arial", Times, sans-serif;
    font-size: 20px;
    text-align: left;
/*    border-style: solid;*/
	</style>
</head>
<!-- extend base layout -->
{% extends "base3.html" %}

<body>
{% block helpbox %}

<!-- <h2>Hello {{ user.username }}!</h2> -->

{% if sentences!=[] %}
<h2 align="left">Your sentences:</h2>

{% else %}
Looks like you haven't added any sentences yet!
{% endif %}

{% for sentence in sentences %}

<table>
<tr>
<td colspan="3">{{sentence['sentence']}}</td>
</tr>

<tr>
<td>
	<form name="{{sentence['sentence']}}" action="{{url_for('tag_pos')}}" method="GET">
        <button type="submit" style="font-size:16px;height:26px">Start new analysis
        </button>
        <input type="hidden" name="userID" value="{{userID}}">
        <input type="hidden" name="sentence" value="{{sentence['sentence']}}">
        <input type="hidden" name="language" value="{{sentence['sentence_language']}}">
        <input type="hidden" name="date" value="{{sentence['collection_date']}}">
        <input type="hidden" name="sentenceID" value="{{sentence['id']}}">

	</form> 
</td>

<td>
    <form name="{{sentence['sentence']}}" action="{{url_for('analyzed_sent')}}" method="GET">
        <button type="submit" style="font-size:16px;height:26px">Check old analysis
        </button>
        <input type="hidden" name="userID" value="{{userID}}">
        <input type="hidden" name="sentence" value="{{sentence['sentence']}}">
        <input type="hidden" name="sentenceID" value="{{sentence['id']}}">
        
        <!-- this link invokes the delete function -->
	</form>
</td>

<td>
	{% if userID == g.user.id %}
	<form name="delete" action="{{url_for('delete_sent', sent_id=sentence[0])}}">
		<button type="submit" style="font-size:16px;height:26px; background-color:red">Delete
        </button>
    </form>
	{% endif %}
</td>

</table>
<br>
{% endfor %}
</br><hr></br>
	<form name="NewSentence" action="{{url_for('input_sentence')}}">
 		<button type="submit" style="font-size:16px;height:28px;background-color:lightgreen"><b>Add a new sentence</b>
 		 	<input type="hidden" name="userID" value="{{userID}}">
	</form>
{% endblock %}

{% block guide %}
	<h2>Hello {{ user.username }}!</h2>
	<p> Welcome to The Linguist's Kitchen! This app will guide you through performing a syntactic analysis on a sentence.</p>
	<p> Just follow the steps in this guide.</p>
	<p> To get started, add a new sentence or click to analyze a sentence that you've already entered. <p>        
{% endblock %}


</body>
</html>